body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.product-container {
    display: flex;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.product-gallery img {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-details {
    margin-left: 20px;
}

.product-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.must-have {
    margin-top: 10px;
}

button {
    background: #FFC107;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #e0a800;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="file"] {
    padding: 3px;
}