body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    color: #33322B;
}

.container {
    text-align: center;
}

.stepper {
    display: flex;
    justify-content: space-between;
    width: 700px;
    position: relative;
    margin-bottom: 20px;
    align-items: center;
}

.step-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 1;
}

.step {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ccc;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.step.active img,
.step.completed img {
    border: 3px solid #FFC107;
}

.step-label {
    margin-top: 20px;
    font-size: 24px;
    color: #666;
}

.step.completed+.step-label,
.step.active+.step-label {
    color: #FFC107;
    font-weight: bold;
}

.progress-line {
    position: absolute;
    top: 30%;
    left: 12%;
    width: 75%;
    height: 5px;
    background: #ccc;
    z-index: 1;
    transform: translateY(-50%);
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: #FFC107;
    transition: width 0.3s ease-in-out;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    background: #FFC107;
        color: #33322B;
    border-radius: 5px;
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
}