<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <title>Test</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: gray;
        }

        .swiper {
            width: 100%;
            height: 300px;
        }

        .product-container {
            display: flex;
            justify-items: center;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        .card-product {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .product-image {
            width: 100px;
            height: 100px;
            border-radius: 5px;
            border: 1px solid black;
            padding: 5px;
        }

        .card-product:hover {
            transform: scale(1.05);
            transition: 0.3s;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        .container {
            margin-top: 50px;
            background-color: white;
            border-radius: 15px;
            padding: 20px;
        }

        .swiper-slide{
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: center;
            background-color: wheat;
            border-radius: 50px;
        }

        .swiper-button-next{
            border: 1px solid black;
            border-radius: 10px;
        }

        .swiper-button-prev{
            border: 1px solid black;
            border-radius: 10px;
        }

    </style>
    <%- include("navbar.ejs") %>
</head>

<body>
    <div class="container">
        <h1>Test</h1>

        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="product-container">
                        <div class="card-product">
                            <img src="Asset/Logo.svg" alt="Product Image" class="product-image">
                            <div class="product-info">
                                <h3 class="product-title">Product Title</h3>
                                <p class="product-description">Product Description</p>
                                <p class="product-price">Product Price</p>
                            </div>
                        </div>

                        <div class="card-product">
                            <img src="Asset/Logo.svg" alt="Product Image" class="product-image">
                            <div class="product-info">
                                <h3 class="product-title">Product Title</h3>
                                <p class="product-description">Product Description</p>
                                <p class="product-price">Product Price</p>
                            </div>
                        </div>
                        <div class="card-product">
                            <img src="Asset/Logo.svg" alt="Product Image" class="product-image">
                            <div class="product-info">
                                <h3 class="product-title">Product Title</h3>
                                <p class="product-description">Product Description</p>
                                <p class="product-price">Product Price</p>
                            </div>
                        </div>

                        <div class="card-product">
                            <img src="Asset/Logo.svg" alt="Product Image" class="product-image">
                            <div class="product-info">
                                <h3 class="product-title">Product Title</h3>
                                <p class="product-description">Product Description</p>
                                <p class="product-price">Product Price</p>
                            </div>
                        </div>

                        <div class="card-product">
                            <img src="Asset/Logo.svg" alt="Product Image" class="product-image">
                            <div class="product-info">
                                <h3 class="product-title">Product Title</h3>
                                <p class="product-description">Product Description</p>
                                <p class="product-price">Product Price</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>



    <script>
        const swiper = new Swiper('.swiper', {
            // Optional parameters
            direction: 'horizontal',
            loop: true,


            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

        });
    </script>

</body>

</html>